<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
      <h1>{{currentTime}}</h1>
  </div>
</header> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="top row">
        <div class="col-lg-6 medication-summary">
          <div class="content">
            <h3 class="heading">Medication Summary</h3>
            <div class="col-sm-6">
              <p class="total-medicines light-grey font-lg"><i class="fa fa-plus-square" aria-hidden="true"></i>Total Today: {{ meds.length }}</p>
              <p class="yellow font-lg"><i class="fa fa-clock-o" aria-hidden="true"></i>Remaining: {{ (meds | filter: { completed: false, missed: false }).length }}</p>
              <div><ul ng-repeat="m in meds | filter:{ completed: false, missed: false } "><li class="yellow">{{ m.name }}</li></ul></div>
              <p class="green font-lg"><i class="fa fa-check-circle" aria-hidden="true"></i>Completed: {{ (meds | filter: {completed: true}).length }}</p>
              <div><ul ng-repeat="m in meds | filter:{ completed: true } "><li class="green">{{ m.name }}</li></ul></div>
            </div>
            <div class="col-sm-6">
              <p class="red font-lg"><i class="fa fa-times-circle" aria-hidden="true"></i>Missed: {{ (meds | filter: { completed: false, missed: true }).length }}</p>
              <div><ul ng-repeat="m in meds | filter:{ completed: false, missed: true } "><li class="red">{{ m.name }}</li></ul></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 calendar-container"> 
          <h3 class="calendar-title">{{ currentTime }}</h3>
          <div class="col-lg-12" id='calendar'></div> 
        </div>
      </div>
      <!--                               -->
      <!-- This is where the switch goes =================================================-->
      <!--                               -->
      <label class="row switch">
        <p class="note">24-Hr</p>
        <input ng-click='toggleFormat()' type="checkbox">
        <div class="slider round"></div>
      </label>
      <!-- ============================================================================== -->
      <div class="row"">
        <div class="col-lg-6 meds-missed">
          <!-- Area for missed medication -->
          <h2 class="heading redh">Missed Medications</h2>
          <div class="row med-card redb" ng-repeat="m in meds | orderBy:'-time' | filter: { missed: true, completed: false }" >
            <div class="med-time col-xs-6">
              <h4><i class="fa fa-times-circle" aria-hidden="true"></i>{{ m.time | formatTime:twentyFour }}</h4>
            </div>
            <div class="col-xs-6">
              <p>{{ m.time | getDate }}</p>
              <p>{{m.name}}</p>
              <p>{{m.dosage}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="meds-remaining">
            <!-- List all remaining medicaitons =============================================================-->
            <h2 class="heading yellowh">Remaining Medications</h2>
            <!-- List all medications that should be taken now -->
            <div class="row med-card yellowb" ng-repeat="m in meds | orderBy:'time' | filter:{ completed:false, missed: false, openTimeWindow: true}" >
              <div class="med-time col-xs-6">
                <h4><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ m.time | formatTime:twentyFour }}</h4>
              </div>
              <div class="col-xs-6">
                <p>{{ m.time | getDate }}</p>
                <p>{{m.name}}</p>
                <p>{{m.dosage}}</p>
                <button class="complete-button yellowb" ng-show="m.openTimeWindow" ng-click="setMedToComplete()" ng-bind-html="m.buttonContent || 'Complete' "></button>
              </div>
              <audio  id="{{m._id}}" class="notification" data-second-src="../../assets/audio/alarm2.mp3" src="../../assets/audio/alarm.mp3" autoplay></audio>
            </div>
            <!-- List all future medications ====================================================================-->
            <div class="row med-card yellowb" ng-repeat="m in meds | orderBy:'time' | filter:{ completed:false, missed: false, openTimeWindow: false}" >
              <div class="med-time col-xs-6">
               <h4><i class="fa fa-clock-o" aria-hidden="true"></i>{{ m.time | formatTime:twentyFour }}</h4>
              </div>
              <div class="col-xs-6">
                <p>{{ m.time | getDate }}</p>
                <p>{{m.name}}</p>
                <p>{{m.dosage}}</p>
                <button class="complete-button greyb" ng-click="#">{{ getRemainingTime() }}</button>
              </div>
            </div>
          </div>
          <!-- List all completed medications ===================================================================-->
          <div class="meds-complete">
            <h2 class="heading greenh">Completed Medications</h2>
             <div class="med-card greenb" ng-repeat="m in meds | orderBy:'-time' | filter:{ completed:true }" >
              <div class="med-time col-xs-6">
               <h4><i class="fa fa-check-circle" aria-hidden="true"></i>{{ m.time | formatTime:twentyFour }}</h4>
              </div>
              <div class="col-xs-6">
                <p>{{ m.time | getDate }}</p>
                <p>{{m.name}}</p>
                <p>{{m.dosage}}</p>
                <button class="complete-button greenb" ng-show="m.openTimeWindow" ng-click="setMedToComplete()" ng-bind-html="m.buttonContent || 'Complete' "></button>
              </div>  
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
